*{margin: 0;
  padding: 0
}
.wrapper{
    display:grid;
    grid-template-rows: auto 1fr;
    height:100vh;
    background: linear-gradient(90deg, black, blue);
}

.header{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.logo img{
    width:200px;
}

.navigation{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items:center;
    font-size:20px;
    
}

